<section class="clearfix">
	<div class="container">	
		<div class="panel">
			<div class="list-header text-center well-sm">
				<h3>{{'Change Password'|translate}}</h3>
			</div>					
		</div>
		<div class="well-lg panel clearfix">
				<form method="post" class="form-horizontal clearfix" name="changePasswordForm" ng-submit="change_password(changePasswordForm.$valid, user);changePasswordForm.$setPristine()">
			    <div class="form-group has-feedback" ng-class="{ 'has-error' : changePasswordForm.old_password.$invalid && changePasswordForm.old_password.$dirty }">
					<label class="col-sm-3 control-label">{{'Current Password'|translate}}</label>
					<div class="col-md-5 col-sm-9">
						<input class="form-control " type="password" name="old_password" ng-model="user.old_password" placeholder="{{'Current Password'|translate}}" required>
						<div class="help-block text-danger" ng-if="changePasswordForm.old_password.$dirty" ng-messages="changePasswordForm.old_password.$error">
						  <div ng-message="required">{{'Required'|translate}}.</div>
						</div>							
					</div>
			    </div>
				<div class="form-group has-feedback" ng-class="{ 'has-error' : changePasswordForm.new_password.$invalid && changePasswordForm.new_password.$dirty }">
					<label class="col-sm-3 control-label">{{'New Password'|translate}}</label>
					<div class="col-md-5 col-sm-9">
						<input class="form-control" type="password" minlength="5" name="new_password" ng-model="user.new_password" placeholder="{{'New Password'|translate}}" required>
						<div class="help-block text-danger" ng-if="changePasswordForm.new_password.$dirty" ng-messages="changePasswordForm.new_password.$error">
						  <div ng-message="required">{{'Required'|translate}}.</div>
						  <div ng-message="minlength">{{'Password must be 5 characters'|translate}}.</div>
						</div>
					</div>
			    </div>
				<div class="form-group has-feedback" ng-class="{ 'has-error' : changePasswordForm.confirm_new_password.$invalid && changePasswordForm.confirm_new_password.$dirty }">
					<label class="col-sm-3 control-label">{{'Re-type New Password'|translate}}</label>
					<div class="col-md-5 col-sm-9">
						<input class="form-control" type="password" minlength="5" name="confirm_new_password" ng-model="user.confirm_new_password" data-match="user.new_password" placeholder="{{'Re-type New Password'|translate}}" required>
						<div class="help-block text-danger" ng-if="changePasswordForm.confirm_new_password.$dirty" ng-messages="changePasswordForm.confirm_new_password.$error">
						  <div ng-message="required">{{'Required'|translate}}.</div>
						  <div ng-message="minlength">{{'Password must be 5 characters'|translate}}.</div>
						  <div ng-message="match">{{'Password and confirm password must be same'|translate}}.</div>
						</div>
					</div>
			    </div>
				<div class="well well-sm clearfix">
					<div class="pull-right">
						<label class="sr-only" for="submit">{{'Change Password'|translate}}</label>
						<button type="submit" class="btn btn-primary btn-lg" ng-disabled="changePasswordForm.$invalid || disableButton" id="submit">{{'Change Password'|translate}} <span ng-show="disableButton"><i class="fa fa-spinner fa-pulse fa-lg"></i></span></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
